body,ul,li,p,h2,figure,figcation{margin:0;padding:0;}
ul,li{list-style:none;}
a{text-decoration:none;}


#main {
	width:1250px;
	height:800px;
	background-color:#eee;
	
}
#main figure{
	float:left;
}
#main .pic1{
	width:400px;
	height:350px;
	background:#000;
	
}
#main .pic1 img{
	width:400px;
	height:350px;
}
#main .pic1 figcaption{
	position:absolute;
	top:50px;
	left:10px;
	color:#fff;
	
}
#main .pic1 figcaption p{
	margin:5px;
	transform:translate(-100px,0);
	transition:1.5s;
}
#main .pic1 figcaption p:nth-of-type(1){transition-delay:0.05s;}
#main .pic1 figcaption p:nth-of-type(2){transition-delay:0.1s;}
#main .pic1 figcaption p:nth-of-type(3){transition-delay:0.15s;}
#main .pic1:hover figcaption p:nth-of-type(1){/*注意hover不能做在p后*/
	transform:translate(0,0);
	transform:translate(5px,0)
}
#main .pic1:hover figcaption p:nth-of-type(2){/*注意hover不能做在p后*/
	transform:translate(0,0);
	transform:translate(10px,0)
}
#main .pic1:hover figcaption p:nth-of-type(3){/*注意hover不能做在p后*/
	transform:translate(0,0);
	transform:translate(15px,0)
}
#main .pic1:hover img{opacity:0.8;}



#main .pic2{
	width:400px;
	height:350px;
	background:#000;
	position:relative;
}
#main .pic2 img{
	width:400px;
	height:350px;
}
#main .pic2 figcaption{
	position:absolute;
	top:80px;
	left:50px;
	color:#fff;	
}
#main .pic2:hover figcaption p{
	opacity:1;
	transform:translate(0,-10px);
}
#main .pic2 figcaption p{
	margin:5px;
	opacity:0;
	transition:0.5s;
	transform:translate(0,0px);
}
#main .pic2 .empty{
	width:200px;
	height:200px;
	border:2px solid #fff;
	position:absolute;
	top:30px;
	left:35px;
	transform:translate(0,-500px) rotate(0deg);
	transition:2s;
}
#main .pic2:hover .empty{
	transform:translate(0,0px) rotate(360deg);
}
#main .pic2:hover img{opacity:0.8;}

#main .pic3{
	width:400px;
	height:350px;
	background:#000;
	position:relative;
}
#main .pic3 figcaption{
	position:absolute;
	top:80px;
	left:50px;
	color:#fff;	
}
#main .pic3 figcaption p{
	margin:5px;
	transform:skew(0deg);
	transition:0.5s;
}
#main .pic3 img{
	width:400px;
	height:350px;
}
#main .pic3:hover figcaption p{
	-webkit-transform:skew(90deg)
}

#main .pic4{
	width:500px;
	height:350px;
	background:#000;
	position:relative;
}
#main .pic4 figcaption{
	position:absolute;
	top:80px;
	left:50px;
	color:#fff;	
}
#main .pic4 img{
	width:500px;
	height:350px;
	
	transition:1s;
}
#main .pic4 .empty{
	width:100px;
	height:100px;
	border:2px solid #fff;
	position:absolute;
	top:200px;
	left:320px;
	transform:scale(1.2,1.2);
	transition:1s;
}
#main .pic4:hover img{
	transform:scale(1.2,1.2);
}
#main .pic4:hover .empty{
	transform:scale(1,1);
}

#main .pic5{
	width:500px;
	height:350px;
	background:#000;
	margin-left:100px;
	position:relative;
}

#main .pic5 img{
	width:500px;
	height:350px;
	
}
#main .pic5 .empty{
	width:200px;
	height:200px;
	border:2px solid #fff;
	position:absolute;
	top:50px;
	left:150px;
	
}
#main .pic5:hover {
	
}